.catalog{
	margin-bottom: 80px;
}

.catalog__order{
	margin-bottom: 30px;
}

.order__wrapper{
	padding: 16px 10px;
}

.catalog__title{
font-size: 28px;
line-height: 120%;
margin-bottom: 16px;
font-weight: 600;
}

.catalog__list{
	display: grid;
	grid-template-columns: repeat(auio-fit,145px);
	gap: 10px;
}