.count{
	width: 74px;
height: 30px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 8px;
background: #F2F2F3;
padding: 7px 8px;
font-size: 12px;
font-weight: 400;
line-height: normal;
}

.count__minus{
	width: 8px;
}


.count__plus{
	width: 8px;
}