
.modal-delivery{
	background-color: #fff;
	width: 100%;
	min-height: 100%;
	padding: 32px 10px;
	display: flex;
	--gap:8px;
}
.modal-delivery__container{
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.modal-delivery__form{
flex-grow: 1;
margin-bottom: 18px;
display: flex;
flex-direction: column;
gap: 24px;
}

.modal-delivery__title{
	font-size: 16px;
	font-weight: 600;
	line-height: 100%; /* 16px */
margin-bottom: 18px;
}

.modal-delivery__fieldset{
	display: flex;
	flex-wrap: wrap;
	gap:var(--gap); 
}
.modal-delivery__fieldset_radio{
flex-direction: column;
align-items: flex-start;
}

.modal-delivery__fieldset_hide{
visibility: hidden;
}
.modal-delivery__input{
width: 100%;
height: 30px;
border-radius: 8px;
border: 1px solid #F2F2F3;
padding: 8px 12px;
line-height: 130%;
font-weight: 400;
font-size: 10px;
color: #000;
}

.modal-delivery__input_half{
flex-basis: calc((100%- var(--gap))/2);	
}

.modal-delivery__input::placeholder{
color:#b1b1b1;
}

.modal-delivery__label{
display: flex;
gap: 8px;
font-size: 10px;
font-weight: 400;
line-height:normal;
}


.modal-delivery__radio{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
position: relative;
width: 12px;
}

.modal-delivery__radio:before{
content: '';
display: block;
position: absolute;
top: 50%;
transform:translateY(-50%);
left: 0;
width: 12px;
height: 12px;
border-radius: 50%;
border: 1px solid #f2f2f3;
}

.modal-delivery__radio:after{
	content: '';
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	top: 50%;
	border-radius: 50%;
	background-color: #000;
transform:translate(-50%, -50%);
left: 50%;
opacity: 0;
}
	
.modal-delivery__radio:checked:after{
	opacity: 1;
}

.modal-delivery__submit{
	padding: 9px;
	background-color: #FF7020;
	border-radius: 8px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
	margin-right: 8px;
}

@media(min-width:480px) {
	.modal-delivery {
		max-width: 524px;
		min-height: auto;
	 	border-radius: 24px;
		padding: 20px 16px 29px;
		border-radius: 24px;
background: #F9F9F9;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
	}
.modal-delivery__container{
margin-left:0 ;
}
}


@media(min-width:480px) {



}